*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav{
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    z-index: 1;
}
nav ul{
    list-style: none;
    display: inline-block;
}

.menusinistra a{
    float:left;
    margin-right: 30px;
}
.menudestra a{
    float:right;
    margin-left: 30px;
}
.menusinistra{
    width: 50vw;
    height: 100%;
    position: absolute;
    top:40%;
    left:1vw;
    /*background-color: red;*/
}

.menudestra{
    width: 50vw;
    height: 100%;
    position: absolute;
    top:40%;
    right:2vw;
    /*background-color: red;*/
}

.logo img{
    height: 17px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

a.inizia{
    color:white;
    background-color: #0061ff;
    padding: 0px 12px;
    display: inline-block;
    text-decoration: none;
}

/* -------- SEZIONE 1 --------*/
/* -------- SEZIONE 1 --------*/
.sezione1{
    background-color: skyblue;
    height: 85vh;
    position: relative;
    top:10vh;
}

.sezione1 div.immagine{
    position: relative;
    left: 457px;
    top: 240px;
    width: 50vw;
    height: 56vh;
    z-index: 1;
}

.sezione1 div.immagine img{
    height: 56vh;
}

.sezione1 div.titolo{
    position: absolute;
    top: 8vh;
    left: 8vw;
    font-size: 45px;
    width: 75vw;
}

.sezione1 div.testo{
    position: absolute;
    width: 22%;
    height: 55%;
    top: 240px;
    left: 114px;
}

.sezione1 div.testo *{
    margin-bottom:20px;
}

.sezione1 span{
    display:block;
    font-size: 10px;
    font-weight: bold;
}
a.freccia{
    text-decoration: none;
    color: black;
    font-size:50px;
}
.sezione1 p{
    font-weight: bold;
}


/* -------- SEZIONE 2 --------*/
/* -------- SEZIONE 2 --------*/

.sezione2{
    background-color:whitesmoke;
    height: 100vh;
    position: relative;
    top:20vh;
}

.sezione2 h1{
    font-size: 50px;
}

.sezione2 div.seleziona{
    width: 84%;
    height: 12%;
    margin: 0 8%;

}

div.colonna2{
    margin:0 8%;
}

.piano div{
    background-color: skyblue;
    float:left;
    width: 28%;
    height: 100%;
}

.sezione2 div.piano{
    width: 84%;
    margin: 0 8%;
    height: 88%;
}

.piano span{
    text-align: center;
}