*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav{
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    z-index: 100;
}
nav ul{
    list-style: none;
    display: inline-block;
}

.menusinistra a{
    float:left;
    margin-right: 30px;
}
.menudestra a{
    float:right;
    margin-left: 30px;
}
.menusinistra{
    width: 50vw;
    height: 100%;
    position: absolute;
    top:40%;
    left:1vw;
    /*background-color: red;*/
}

.menudestra{
    width: 50vw;
    height: 100%;
    position: absolute;
    top:40%;
    right:2vw;
    /*background-color: red;*/
}

.logo img{
    height: 17px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

a.inizia{
    color:white;
    background-color: #0061ff;
    padding: 10px 12px;
    margin-top: -10px;
    display: inline-block;
    text-decoration: none;
}

/* -------- SEZIONE 1 --------*/
/* -------- SEZIONE 1 --------*/
.sezione1{
    background-color: skyblue;
    height: 85vh;
    position: relative;
    top:10vh;
}

.sezione1 div.immagine{
    position: relative;
    left: 457px;
    top: 240px;
    width: 50vw;
    height: 56vh;
    z-index: 1;
}

.sezione1 div.immagine img{
    height: 56vh;
}

.sezione1 div.titolo{
    position: absolute;
    top: 8vh;
    left: 8vw;
    font-size: 45px;
    width: 75vw;
}

.sezione1 div.testo{
    position: absolute;
    width: 22%;
    height: 55%;
    top: 240px;
    left: 114px;
}

.sezione1 div.testo *{
    margin-bottom:20px;
}

.sezione1 span{
    display:block;
    font-size: 10px;
    font-weight: bold;
}
a.freccia{
    text-decoration: none;
    color: black;
    font-size:50px;
}
.sezione1 p{
    font-weight: bold;
}


/* -------- SEZIONE 2 --------*/
/* -------- SEZIONE 2 --------*/

.sezione2{
    height: 200vh;
    position: relative;
    top:20vh;
}

.sezione2 h1{
    font-size: 50px;
    margin-bottom: 3%;
}

.sezione2 div.seleziona{
    width: 84%;
    height: 12%;
    margin: 0 8%;

}

div.colonna2{
    margin:0 8%;
}

.piano div.colonna1,
.piano div.colonna2,
.piano div.colonna3{
    /*background-color: skyblue;*/
    float:left;
    width: 28%;
}

.sezione2 div.piano{
    width: 84%;
    margin: 0% 8%;
}

.colonna1 span,
.colonna2 span,
.colonna3 span{
    display:block;
    text-align:left;
}
span.utenti,
span.team{
    display:block;
    text-align: center;
    border-bottom: 1px solid grey;
}

/* -------- ICONE -------- */
span.utenti::before{
    content:"\f007   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}
span.team::before{
    content:"\f0c0   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}

.piano .colonna1 span.utente::before{
    content:"\f0c0   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}
.piano .colonna2 span.utente::before,
.piano .colonna3 span.utente::before{
    content:"\f234   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}

.piano .colonna3 span.memoria::before{
    content:"\f118   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}
.piano .colonna1 span.memoria::before,
.piano .colonna2 span.memoria::before{
    content:"\f07b   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}

.piano .colonna2 span.funzioni::before{
    content:"\f118   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}
.piano .colonna1 span.funzioni::before,
.piano .colonna3 span.funzioni::before{
    content:"\f040   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}
/* -------- FINE-ICONE -------- */

span.prezzo{
    font-weight: bold;
}
span.prezzo::after{
    content:"\f153";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}
span.mensile{
    color: grey;
}

.piano .colonna1,
.piano .colonna2,
.piano .colonna3{
    border:1px solid grey;
    overflow: auto;
}

.piano .colonna1 div,
.piano .colonna2 div,
.piano .colonna3 div{
    width: 100%;
    padding:0 5%;
    margin-bottom: 10%;
}

.piano .colonna4{
    float: left;
    border: 1px solid grey;
    margin: 8% 0;
    width: 100%;
}

.piano .colonna4 div.testo{
    width: 70%;
    float:left;
    line-height: 2;
}
.piano .colonna4 div.link{
    width: 30%;
    float:right;
    margin-top:2%
}

div.provagratis a.inizia{
    padding: 10px 10px;
}
.piano .colonna4 div.link a.inizia{
    padding: 10px 15%;
}



div.puntisalienti span::before{
    content:"\f00c  ";
    white-space: pre;
    font-family: FontAwesome;
    color: rgb(38, 125, 224);
}

.piano .colonna1 span,
.piano .colonna2 span,
.piano .colonna3 span,
.piano .colonna4 span,
.piano .colonna1 h2,
.piano .colonna2 h2,
.piano .colonna3 h2,
.piano .colonna4 h2,
.piano .colonna1 h3,
.piano .colonna2 h3,
.piano .colonna3 h3{
    padding: 10px 0px;
}

div.puntisalienti span{
    display: inline-block;
}

div.provagratis span a{
    color:skyblue
}
div.provagratis span{
    display: inline-block;
}

div.provagratis span a:hover{
    color: blue;
}

div.provagratis span span{
    border-bottom: 1px solid gray;
    padding-bottom: 28px;    
}

/* -------- SEZIONE 3 --------*/
/* -------- SEZIONE 3 --------*/

.sezione3 {
    height: 80vh;
    position: relative;
    top: 20vh;
    width: 84%;
    left: 8%;
}

.sezione3 div.testo{
    position: relative;
    top:10%;
    float:right;
    width: 40%;
}
.sezione3 div img{
    width: 100%;
    height: 100%;
}
.sezione3 div.immagine{
    height: 100%;
    width: 55%;
}

.sezione3 div.testo p{
    padding:5% 0;
}
.sezione3 div.testo h2{
    
    font-size:30px;
}
.sezione3 div.testo a{
    text-decoration: none;
    color:black;
    background-color: white;
    border:1px solid black;
    padding:7px 5%;
    display: inline-block;
}

/* -------- SEZIONE 4 --------*/
/* -------- SEZIONE 4 --------*/

.sezione4{
    /*background-color: rgb(38, 125, 224);*/
    position: relative;
    top: 30vh;
    width: 84%;
    left: 8%;
    overflow: hidden;
}
.sezione4 h3{
    font-size: 30px;
    margin-bottom: 5%;
}
.sezione4 h2{
    font-size: 49px;
}

.sezione4 .colonna1,
.sezione4 .colonna2,
.sezione4 .colonna3{
    /*background-color: salmon;*/
    width: 28%;
    float:left;
    overflow: hidden;    
    margin-top:5%;
}

.sezione4 .colonna1 .riga1,
.sezione4 .colonna1 .riga2,
.sezione4 .colonna2 .riga1,
.sezione4 .colonna2 .riga2,
.sezione4 .colonna3 .riga1,
.sezione4 .colonna3 .riga2{    
    /*background-color: seagreen;*/
    overflow: hidden;
    margin-bottom: 15%;
}

.sezione4 .colonna1 img,
.sezione4 .colonna2 img,
.sezione4 .colonna3 img{
    width: 100%;
}

/* -------- SEZIONE 5 --------*/
/* -------- SEZIONE 5 --------*/

.sezione5{
    /*background-color: rgb(38, 125, 224);*/
    height: 100vh;
    position: relative;
    top: 25vh;
}
.sezione5 div.testo h2{
    font-size: 49px;
    padding-top:5%;
    margin-bottom:5%
}

.sezione5 div.testo{
    max-width: 780px;
    height: 40%;
    margin:0 15%;
}

.sezione5 div.immagini{
    height: 60%;
}

.sezione5 div.sinistra,
.sezione5 div.destra{
    background-color: seagreen;
    width: 30%;
    height: 100%;
}

.sezione5 div.sinistra{
    float: left;
    position: relative;
}

.sezione5 div.destra{
    float: right;
    position: relative;
}

.sezione5 div.centro{
    background-color: whitesmoke;
    float:left;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.sezione5 div.centro div.testo{
    height: 58%;
}

.sezione5 div.sinistra div,
.sezione5 div.destra div{
    background-color: slateblue;
    height: 50%;
    width: 50%;
    position: absolute;
}

.sezione5 div.sinistra div.quadrato1{
    background-color: green;
    top:0;
    left:0;
}
.sezione5 div.sinistra div.quadrato2{
    background-color: #61082b;
    top:0;
    right:0;
}
.sezione5 div.sinistra div.quadrato3{
    background-color: rgb(49, 165, 211);
    bottom:0;
    left:0;
}
.sezione5 div.sinistra div.quadrato4{
    background-color: red;
    bottom:0;
    right:0;
}

.sezione5 div.destra div.quadrato1{
    background-color: red;
    top:0;
    left:0;
}
.sezione5 div.destra div.quadrato2{
    background-color: skyblue;
    top:0;
    right:0;
}
.sezione5 div.destra div.quadrato3{
    background-color: blue;
    bottom:0;
    left:0;
}
.sezione5 div.destra div.quadrato4{
    background-color: #9dad00;
    bottom:0;
    right:0;
}

.sezione5 div.sinistra img,
.sezione5 div.destra img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sezione5 .centro div{
    margin-left: 5%;
}
.sezione5 .centro div.logo{
    margin:8% 0 8% 5%;
    width: 25%;
    position: relative;
}

.sezione5 .centro div.logo::after{
content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  border-bottom: 1px solid gray;
}

.sezione5 .centro div.logo img{
    height: 100%;
    width: 100%;
    margin-bottom: 25%;
}
.sezione5 .sinistra img,
.sezione5 .destra img{
    filter: invert(1);
}

.sezione5 .centro div.testo p{
    padding:5% 0;
}

/*bordo colorato su hover dei quadrati*/

.sezione5 .immagini .sinistra a:hover:focus::after,
.sezione5 .immagini .destra a:hover:focus::after{
    content: "";
    height: 94%;
    width: 94%;
    left: 0;
    top: 0;
    position: absolute;
    border: 6px solid rgba(255, 255, 255, 0.9);
    filter: blur(3px);
}

.sezione5 .immagini .sinistra a:hover::after,
.sezione5 .immagini .destra a:hover::after{
    content: "";
    height: 94%;
    width: 94%;
    left: 0;
    top: 0;
    
    border: 6px solid rgba(255, 255, 255, 0.4);

    position: absolute;
}


.sezione5 div.immagini div.sinistra a::after,
.sezione5 div.immagini div.destra a::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
}


/* -------- SEZIONE 6 --------*/
/* -------- SEZIONE 6 --------*/

.sezione6{
    background-color:#b4d0e7;
    height: 50vh;
    position: relative;
    top: 25vh;
}

.sezione6 div.titolo h2{
    font-size:49px;
    color:#61082b;
}

.sezione6 div.link a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 50px;
}

.sezione6 div.titolo {
    position: absolute;
    left: 15%;
    top: 30%;
    width: 40%;
}

.sezione6 div.link {
    position: absolute;
    top: 35%;
    right: 18%;
}

/* -------- SEZIONE 7 --------*/
/* -------- SEZIONE 7 --------*/

.sezione7{
    /*background-color:#16b6a1;*/
    height: 90vh;
    width: 84%;
    position: relative;
    top: 30vh;
    left: 8%;
}
.sezione7 h2{
    font-size:39px;
}

.sezione7 div.domande{
    margin-top: 5%;
}

.sezione7 div.domande div{
    /*background-color: chartreuse;*/
    padding:30px 0;
}

.sezione7 div.domande .riga1{
    border:1px solid gray;
    border-left: 0;
    border-right: 0;
}

.sezione7 div.domande .riga2,
.sezione7 div.domande .riga4,
.sezione7 div.domande .riga3{
    border-bottom:1px solid gray;
}

.sezione7 div.domande h4 {
    display: inline-block;
}
.sezione7 div.domande div.riga1::after,
.sezione7 div.domande div.riga2::after,
.sezione7 div.domande div.riga3::after,
.sezione7 div.domande div.riga4::after{
    content: "\f078";
    font-family:FontAwesome;
    margin-right: 5%;
    float: right;
}

.sezione7 div.domande div.risposta-nascosta{
    display: none;
}

.sezione7 .domande div.riga2:hover div.risposta-nascosta{
    display: inline-block;
    height: 100px;
    /*background-color: rgb(65, 64, 64);*/
}

.sezione7 .domande div.riga1:hover div.risposta-nascosta,
.sezione7 .domande div.riga3:hover div.risposta-nascosta,
.sezione7 .domande div.riga4:hover div.risposta-nascosta{
    display: inline-block;
    height: 100px;
    /*background-color: red;*/
}

.sezione7 div.domande div.risposta-nascosta {
    width: 50%;
}

/* -------- SEZIONE 8 --------*/
/* -------- SEZIONE 8 --------*/

.sezione8{
    background-color:black;
    height: 90vh;
    width: 100%;
    position: relative;
    top: 25vh;
    color: white;
}

.sezione8 li{
    float:left;
    list-style: none;
    margin-right:70px;
    line-height: 2;
}

.sezione8 li a{
    display: block;
    text-decoration: none;
    color: white;
}

.sezione8 ul{
    padding: 5% 10%;
}

.sezione8 li h3{
    font-size:20px;
    margin:10px 0;
}

.sezione8 .footer span{
    border-top: 1px solid grey;
    padding: 5% 0;
    padding-right: 40px;
}
.sezione8 .footer span::before{
    content: "\f0ac  ";
    font-family: FontAwesome;
    white-space: pre;
}

.sezione8 .footer span::after{
    content: " \f0d8";
    font-family: FontAwesome;
    white-space: pre;
}

.sezione8 div.footermenu{
    height: 70%;
}

.sezione8 div.footer{
    height: 15%;
    width: 80%;
    margin:5% 10%;
    color:gray;
}

a.freccia:focus{
    background-color: red;
}