*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav{
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    z-index: 100;
}
nav ul{
    list-style: none;
    display: inline-block;
}

.menusinistra a{
    float:left;
    margin-right: 30px;
}
.menudestra a{
    float:right;
    margin-left: 30px;
}
.menusinistra{
    width: 50vw;
    height: 100%;
    position: absolute;
    top:40%;
    left:1vw;
    /*background-color: red;*/
}

.menudestra{
    width: 50vw;
    height: 100%;
    position: absolute;
    top:40%;
    right:2vw;
    /*background-color: red;*/
}

.logo img{
    height: 17px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

a.inizia{
    color:white;
    background-color: #0061ff;
    padding: 0px 12px;
    display: inline-block;
    text-decoration: none;
}

/* -------- SEZIONE 1 --------*/
/* -------- SEZIONE 1 --------*/
.sezione1{
    background-color: skyblue;
    height: 85vh;
    position: relative;
    top:10vh;
}

.sezione1 div.immagine{
    position: relative;
    left: 457px;
    top: 240px;
    width: 50vw;
    height: 56vh;
    z-index: 1;
}

.sezione1 div.immagine img{
    height: 56vh;
}

.sezione1 div.titolo{
    position: absolute;
    top: 8vh;
    left: 8vw;
    font-size: 45px;
    width: 75vw;
}

.sezione1 div.testo{
    position: absolute;
    width: 22%;
    height: 55%;
    top: 240px;
    left: 114px;
}

.sezione1 div.testo *{
    margin-bottom:20px;
}

.sezione1 span{
    display:block;
    font-size: 10px;
    font-weight: bold;
}
a.freccia{
    text-decoration: none;
    color: black;
    font-size:50px;
}
.sezione1 p{
    font-weight: bold;
}


/* -------- SEZIONE 2 --------*/
/* -------- SEZIONE 2 --------*/

.sezione2{
    height: 200vh;
    position: relative;
    top:20vh;
}

.sezione2 h1{
    font-size: 50px;
    margin-bottom: 3%;
}

.sezione2 div.seleziona{
    width: 84%;
    height: 12%;
    margin: 0 8%;

}

div.colonna2{
    margin:0 8%;
}

.piano div.colonna1,
.piano div.colonna2,
.piano div.colonna3{
    /*background-color: skyblue;*/
    float:left;
    width: 28%;
}

.sezione2 div.piano{
    width: 84%;
    margin: 0% 8%;
}

.colonna1 span,
.colonna2 span,
.colonna3 span{
    display:block;
    text-align:left;
}
span.utenti,
span.team{
    display:block;
    text-align: center;
    border-bottom: 1px solid grey;
}

/* -------- ICONE -------- */
span.utenti::before{
    content:"\f007   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}
span.team::before{
    content:"\f0c0   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}

.piano .colonna1 span.utente::before{
    content:"\f0c0   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}
.piano .colonna2 span.utente::before,
.piano .colonna3 span.utente::before{
    content:"\f234   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}

.piano .colonna3 span.memoria::before{
    content:"\f118   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}
.piano .colonna1 span.memoria::before,
.piano .colonna2 span.memoria::before{
    content:"\f07b   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}

.piano .colonna2 span.funzioni::before{
    content:"\f118   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}
.piano .colonna1 span.funzioni::before,
.piano .colonna3 span.funzioni::before{
    content:"\f040   ";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}
/* -------- FINE-ICONE -------- */

span.prezzo{
    font-weight: bold;
}
span.prezzo::after{
    content:"\f153";
    white-space: pre;
    font-family: FontAwesome;
    color: black;
}
span.mensile{
    color: grey;
}

.piano .colonna1,
.piano .colonna2,
.piano .colonna3{
    border:1px solid grey;
    overflow: auto;
}

.piano .colonna1 div,
.piano .colonna2 div,
.piano .colonna3 div{
    width: 100%;
    padding:0 5%;
    margin-bottom: 10%;
}

.piano .colonna4{
    float: left;
    border: 1px solid grey;
    margin: 8% 0;
    width: 100%;
}

.piano .colonna4 div.testo{
    width: 70%;
    float:left;
    line-height: 2;
}
.piano .colonna4 div.link{
    width: 30%;
    float:right;
    margin-top:2%
}

div.provagratis a.inizia{
    padding: 10px 10px;
}
.piano .colonna4 div.link a.inizia{
    padding: 10px 15%;
}



div.puntisalienti span::before{
    content:"\f00c  ";
    white-space: pre;
    font-family: FontAwesome;
    color: rgb(38, 125, 224);
}

.piano .colonna1 span,
.piano .colonna2 span,
.piano .colonna3 span,
.piano .colonna4 span,
.piano .colonna1 h2,
.piano .colonna2 h2,
.piano .colonna3 h2,
.piano .colonna4 h2,
.piano .colonna1 h3,
.piano .colonna2 h3,
.piano .colonna3 h3{
    padding: 10px 0px;
}

div.puntisalienti span{
    display: inline-block;
}

div.provagratis span a{
    color:skyblue
}
div.provagratis span{
    display: inline-block;
}

div.provagratis span a:hover{
    color: blue;
}

div.provagratis span span{
    border-bottom: 1px solid gray;
    padding-bottom: 28px;    
}

/* -------- SEZIONE 3 --------*/
/* -------- SEZIONE 3 --------*/

.sezione3 {
    height: 80vh;
    position: relative;
    top: 20vh;
    width: 84%;
    left: 8%;
}

.sezione3 div.testo{
    position: relative;
    top:10%;
    float:right;
    width: 40%;
}
.sezione3 div img{
    width: 100%;
    height: 100%;
}
.sezione3 div.immagine{
    height: 100%;
    width: 55%;
}

.sezione3 div.testo p{
    padding:5% 0;
}
.sezione3 div.testo h2{
    
    font-size:30px;
}
.sezione3 div.testo a{
    text-decoration: none;
    color:black;
    background-color: white;
    border:1px solid black;
    padding:7px 5%;
    display: inline-block;
}

/* -------- SEZIONE 4 --------*/
/* -------- SEZIONE 4 --------*/

.sezione4{
    /*background-color: rgb(38, 125, 224);*/
    position: relative;
    top: 30vh;
    width: 84%;
    left: 8%;
    overflow: hidden;
}
.sezione4 h3{
    font-size: 30px;
    margin-bottom: 5%;
}
.sezione4 h2{
    font-size: 49px;
}

.sezione4 .colonna1,
.sezione4 .colonna2,
.sezione4 .colonna3{
    /*background-color: salmon;*/
    width: 28%;
    float:left;
    overflow: hidden;    
    margin-top:5%;
}

.sezione4 .colonna1 .riga1,
.sezione4 .colonna1 .riga2,
.sezione4 .colonna2 .riga1,
.sezione4 .colonna2 .riga2,
.sezione4 .colonna3 .riga1,
.sezione4 .colonna3 .riga2{    
    /*background-color: seagreen;*/
    overflow: hidden;
    margin-bottom: 15%;
}

.sezione4 .colonna1 img,
.sezione4 .colonna2 img,
.sezione4 .colonna3 img{
    width: 100%;
}

/* -------- SEZIONE 5 --------*/
/* -------- SEZIONE 5 --------*/

.sezione5{
    /*background-color: rgb(38, 125, 224);*/
    height: 100vh;
    position: relative;
    top: 25vh;
    overflow: hidden;
}
.sezione5 div.testo h2{
    font-size: 49px;
    padding-top:5%;
    margin-bottom:5%
}

.sezione5 div.testo{
    max-width: 780px;
    height: 40%;
}

.sezione5 div.immagini{
    height: 60%;
}

.sezione5 div.sinistra,
.sezione5 div.destra{
    background-color: seagreen;
    width: 30%;
    height: 100%;
}

.sezione5 div.sinistra{
    float: left;
    position: relative;
}

.sezione5 div.destra{
    float: right;
    position: relative;
}

.sezione5 div.centro{
    background-color: whitesmoke;
    float:left;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.sezione5 div.centro div.testo{
    height: 65%;
}

.sezione5 div.sinistra div,
.sezione5 div.destra div{
    background-color: slateblue;
    height: 50%;
    width: 50%;
    position: absolute;
}

.sezione5 div.sinistra div.quadrato1{
    background-color: green;
    top:0;
    left:0;
}
.sezione5 div.sinistra div.quadrato2{
    background-color: brown;
    top:0;
    right:0;
}
.sezione5 div.sinistra div.quadrato3{
    background-color: rgb(49, 165, 211);
    bottom:0;
    left:0;
}
.sezione5 div.sinistra div.quadrato4{
    background-color: red;
    bottom:0;
    right:0;
}

.sezione5 div.destra div.quadrato1{
    background-color: red;
    top:0;
    left:0;
}
.sezione5 div.destra div.quadrato2{
    background-color: skyblue;
    top:0;
    right:0;
}
.sezione5 div.destra div.quadrato3{
    background-color: blue;
    bottom:0;
    left:0;
}
.sezione5 div.destra div.quadrato4{
    background-color: yellow;
    bottom:0;
    right:0;
}

.sezione5 div.sinistra img,
.sezione5 div.destra img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sezione5 .centro div{
    margin-left: 5%;
}
.sezione5 .centro div.logo{
    margin:8% 0 8% 5%;
    width: 25%;
    position: relative;
}

.sezione5 .centro div.logo::after{
content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  border-bottom: 1px solid gray;
}

.sezione5 .centro div.logo img{
    height: 100%;
    width: 100%;
    margin-bottom: 25%;
}

.sezione5 .centro div.testo p{
    padding:5% 0;
}

/*bordo colorato su hover dei quadrati*/

.sezione5 .immagini .sinistra a:focus::after,
.sezione5 .immagini .destra a:hover::after{
    content: "";
    height: 94%;
    width: 94%;
    left: 0;
    top: 0;
    border: 6px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 40;
}
